*,*::after,*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-center{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  gap: 50px;
}

button {
  all: unset;
  cursor: pointer;
}

button {
  width: 200px;
  height: 200px;
  background: rgb(203, 159, 181);
  text-align: center;
  font-size: 70px;
  border: 3px solid transparent;
}

button:hover {
  border: 3px solid black;
}

#container {
  display: flex;
  justify-content: center;
  gap: 100px;
  border: 1px solid red;
}

h1{
  border: 1px solid black;
  width: 300px;
  height: 100px;
  text-align: center;
}

#ready{
  width: 100px;
  height: 50px;
  font-size: small;
  margin-top: 30px;
}
#startGame {
  width: 100px;
  height: 50px;
  font-size: small;
  margin-top: 30px;
}
#flex-ready{
  display: flex;
  justify-content: center;
}

h2{
  text-align: center;
  margin-top: 10px;
  border: 1px solid green;
  height: 50px;
  padding-top: 10px;
}

h3{
  text-align: center;
  margin-top: 10px;
}

#again {
  display: flex;
  justify-content: center;
}

#playAgain{
  width: 100px;
  height: 50px;
  background: rgb(203, 159, 181);
  text-align: center;
  font-size: 20px;
  border: 3px solid transparent;
  display: none;
}
#playAgain:hover{
  border: 2px solid  black;
}
